@include reset;
/** placeholders **/
%text {
    font-size: .9rem;
    line-height: 1.7em;
}
%titles {
    margin-top: 0;
    text-transform: uppercase;
}
/**
contaiber
**/
.container{
    display: grid;
    grid-template-columns: 300px 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "sidebar main"
    "sidebar footer";
    height: 100vh;
}
aside{
    grid-area: sidebar;
}
.main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

/**  main section**/
 .main{
    padding: $layout-padding * 2.5;
    & > p{
        font-size: 1.5em;
        margin: 0;
        margin-bottom: 1.5em;
    }
}



.card {
    @extend %text;
    padding: 2em;
    margin-right: .5em;
    box-shadow: 10px 10px 20px rgba(0,0,0,.05);
}
h1 {
    @extend %titles;
    font-size: 2.5rem;
    color: $primary-color;
    margin-bottom: 0;
}


/**
sidebar section**/





aside {
    padding: $layout-padding;
    
    background: $darken-primary;
    color: lighten($primary-color, 30%);

    li {
        @extend %text;
    }
    a {
        font-weight: bold;
        display: block;
        color: white;
        text-decoration: none;
        margin-top: .5em;
        margin-bottom: 1em;
    }
    h3 {
        @extend %titles;
        font-size: 1.3rem;
    }

}
/**footer section**/


footer {
    padding: 0 $layout-padding;

    p {
        @extend %text;
    }
}
