@mixin reset {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        
    }
    li{
        list-style-type: none;
    }
    a{
        text-decoration: none;
    }
}


@mixin border ($border-color:black){
    border: 1px solid $border-color
    
}

